
<head>
  <title>FIN: Inbox</title>
  <!-- Header -->
  <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
  </script>
  <script type="text/javascript">
   (function(){
      emailjs.init({
        publicKey: "1iI-fiqWahTufDsOm",
      });
   })();
  </script>

<%- include('../partials/header.ejs'); %>

    <h1>Send a Summary</h1>
    <h2>This will send a summary of your financial information to your email.</h2>
    <button onclick="sendEmail('<%= user.name %>', '<%= user.email %>')">Send Email</button> 
    <br>
  <!-- Footer -->
    <script>
      var balance = "<%= budgetSummary.totalIncome.toFixed(2) %>";
      var surdef = '<%= budgetSummary.surplusDeficit.toFixed(2) %>';
      var income = '<%= budgetSummary.totalIncome.toFixed(2) %>';
      var expenses = '<%= budgetSummary.totalExpense.toFixed(2) %>';

      function sendEmail(username, useremail){
        emailjs.send("service_amu94ph","template_qb9mimk",{name: username, email: useremail, balance: balance, surdef: surdef, income: income, expenses: expenses}).then(
          (response) => {
            console.log('SUCCESS!', response.status, response.text);
          },
          (error) => {
            console.log('FAILED...', error);
          },
        );
      }
      
    </script>
  <%- include('../partials/footer.ejs')%>

