<%- include('../partials/header.ejs')%>

<main>
    <div class="container profile-container">

        <aside class="profile-sidebar">
            <ul>
                <li><a href="/users/profile" class="<%= activeTab === 'main' ? 'active' : '' %>">Profile</a></li>
                <li><a href="/users/profile/sandbox" class="<%= activeTab === 'sandbox' ? 'active' : '' %>">Sandbox Mode</a></li>
<<<<<<< Updated upstream
                <li><a href="/users/profile/securityQuestions" class="<%= activeTab === 'security' ? 'active' : '' %>">Security Questions</a></li>
                <li><a href="/users/profile/notifications" class="<%= activeTab === 'notifications' ? 'active' : '' %>">Notifications</a></li>
=======
                <li><a href="/users/profile/securityQuestions" class="<%= activeTab === 'security' ? 'active' : '' %>">Profile Settings</a></li>
                <li><a href="/users/profile/notifications" class="<%= activeTab === 'notifications' ? 'active' : '' %>">Notifications Settings</a></li>
                <li><a href="/users/profile/linkBank" class="<%= activeTab === 'linkBank' ? 'active' : '' %>">Link Bank Account</a></li>
>>>>>>> Stashed changes
            </ul>
        </aside>

        <section class="profile-content">
            <%- include(tabView, { user }) %>
        </section>
        
        </div>
</main>

<%- include('../partials/footer.ejs')%>